.gridContainer {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
}

.rowDiv {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.columnDiv {
    display: flex;
    flex: 1;
    background-color: gray;
}

.hoverEffect {
    background-color: aquamarine;
}

.resetButton {
    padding: 5px;
}
